@font-face {
    font-family: "Roboto Bold";
    src: url("/css/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("/css/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Italic";
    src: url("/css/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url("/css/fonts/Roboto-Light.ttf") format("truetype");
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: "Roboto Light";
    font-weight: normal;
    text-transform: none;
}

.reveal {
    background-image: url(../images/BGGreySolid-01.svg);
    font-family: "Roboto Light";
}

.reveal a {
    color: #0080E2;
}

#logo {
    background-color: transparent;
    border: 0;
    margin: 0;
    max-height: 50%;
    padding: 0;
}